MONGO_URI=mongodb://tejeswartejeswar56_db_user:Tejeswar2709@ac-vzhyeiz-shard-00-00.vyib9nk.mongodb.net:27017,ac-vzhyeiz-shard-00-01.vyib9nk.mongodb.net:27017,ac-vzhyeiz-shard-00-02.vyib9nk.mongodb.net:27017/?ssl=true&replicaSet=atlas-koxxgg-shard-0&authSource=admin&appName=Cluster0

PORT=5000
ADMIN_PASSWORD=Tejeswar2709
CLOUDINARY_CLOUD_NAME=dzd0qxcrp
CLOUDINARY_API_KEY=977744464253488
CLOUDINARY_API_SECRET=k2nPOimDQ1KagpneYNBowog7PSo